* {
  font-family: Arial, Verdana;
}

h1 {
  background-color: #4f5d75;
  color: #ffffff;
  border-bottom: 3px solid #ef8354;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

h2 {
  background-color: #4f5d75;
  color: #ffffff;
  border-bottom: 3px solid #ef8354;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

body {
  background-color: #2d3142;
  margin: 5px;
  padding: 5px;

}

p {
  margin: 5px;
  padding: 5px;
}

.page-content {
  background-color: #bfc0c0;
  margin: 20px auto 20px auto;
  width: 70%;
}
